<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/uikit/css/uikit.min.css" />
    <script src="../styles/uikit/js/uikit.min.js"></script>
    <script src="../styles/uikit/js/uikit-icons.min.js"></script>
    <script src="../app/index.js"></script>
    <script src="../styles/art/js/template-web.js"></script>
</head>

<body>
    <div id="content"></div>
    <script id="template" type="text/html">
        <div id="notification" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog">
                <button style="cursor: pointer" onclick="nw.Window.get().close()" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">{{title}}</h2>
                </div>
                <div class="uk-modal-body">
                    <p>{{messageTwo}}</p>
                    <legend class="uk-legend">{{target}}</legend>

                    <div class="uk-margin">
                        <input id="ticker1" class="uk-input" type="text" placeholder="btc">
                    </div>
                    <button style="cursor: pointer" onclick="tickers.coingeckoGetTarget(document.getElementById('ticker1').value)" class="uk-button-large uk-button-default" type="button">{{findTarget}}</button>
                    <code style="overflow-x: auto;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word">{{message}}</code>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button style="cursor: pointer" onclick="nw.Window.get().close()" class="uk-button-large uk-button-primary" type="button">OK</button>
                </div>
            </div>
        </div>
</script>
<script>
    function toTitle (str) {
      return str.replace(/(^|\s)\S/g, function (t) { return t.toUpperCase() })
    }
    var win = nw.Window.get()
    win.menu = null
    var content = JSON.parse(win.title)
    var data = {
        stylesFile: global.stylesFile,
        message: content.message,
        messageTwo: 'Example: ' + content.messageTwo,
        title: toTitle(content.title),
        target: lang.echo('Save'),
        findTarget: lang.echo('Find Target')
    }
    var html = template('template', data)
    document.getElementById('content').innerHTML = html
    document.title = content.window
    UIkit.modal('#notification', {escClose: false, bgClose: false}).show()
    </script>
</body>

</html>